[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
pytest-asyncio = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
pytest-mock = "*"
pytest-pylint = "*"
pylint = "<3.0.0"
wheel = "*"
autopep8 = "*"
tox = "*"
python-dotenv = "*"
synapse_test_helper = ">=0.0.3"

[packages]
synapseclient = ">=2.3.1,<3.0.0"
synapsis = ">=0.0.7"

[requires]
python_version = "3.10"
