[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
twine = "*"
pytest-asyncio = "*"
pytest-cov = "*"
coverage = "*"
coveralls = "*"
pytest-mock = "*"
pytest-pylint = "*"
pylint = "*"
wheel = "*"
autopep8 = "*"

[packages]
synapseclient = "*"
aiohttp = "*"
aiofiles = "*"

[requires]
python_version = "3.7"
